/*
CORES
#0477BF
#049DD9
#04B2D9
#0396A6
#D97A43

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', serif;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
  display: none;
} */

h1 {
  font-family: "Mynerve", cursive;
  text-shadow: 4px 4px 6px #000;
  font-weight: 700;
  font-size: max(44px, 5.2vw);
}

h2 {
  font-family: "Marhey", cursive;
  text-shadow: 4px 4px 6px #464646;
  font-weight: 700;
  font-size: max(20px, 2.8vw);
}

div.chamada a {
  font-size: max(16px, 1.8vw);
  color: #fff;
  text-decoration: none;
  padding: 20px 80px;
  border-radius: 50px;
  font-weight: 600;
  background: linear-gradient(
    rgba(4, 178, 217, 1) 0%,
    rgba(3, 150, 166, 1) 50%,
    rgba(4, 157, 217, 1) 100%
  );
  display: inline-block;
  animation-name: HeaderA-moverParaCima;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  transition: 0.3s ease-in-out;
}

div.chamada a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

header {
  max-width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  z-index: 11;
}

header nav#nav-esquerda {
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  z-index: 2;
  display: flex;
  flex-flow: row;
  align-items: center;
}

header nav#nav-esquerda div#logo {
  max-width: 100px;
  max-height: 120px;
  margin-left: 5rem;
}

header nav#nav-esquerda div#logo img {
  max-width: 100%;
  max-height: 100%;
}

header nav#nav-esquerda ul#icone-menu {
  display: none;
}

header nav#nav-esquerda ul#icone-menu li {
  list-style: none;
}

header nav#nav-esquerda ul#icone-menu ion-icon {
  font-size: 50px;
  color: #fff;
  margin-right: 2rem;
}

header nav#nav-esquerda ul.menu-principal {
  margin-left: 5rem;
  display: flex;
  flex-flow: row wrap;
}

header nav#nav-esquerda ul.menu-principal li {
  list-style: none;
  margin-right: 2rem;
}

header nav#nav-esquerda ul.menu-principal li a {
  text-decoration: none;
  color: #fff;
  font-size: 110%;
  text-shadow: 4px 6px 10px #000;
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
}

header nav#nav-esquerda ul.menu-principal li a:hover {
  opacity: 0.6;
  border-bottom: 1px solid #fff;
}

header div.chamada {
  position: absolute;
  width: 100%;
  height: 300px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header div.primeiraChamada {
  z-index: 1;
}

header div.chamada h1 {
  color: #fff;
  animation-name: HeaderH1-moverParaDireita;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

header div.chamada h2 {
  color: #d97a43;
  margin-bottom: 55px;
  animation-name: HeaderH2-moverParaEsquerda;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

section.sobre {
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
}

section.sobre div.sobre-container {
  text-align: center;
  margin-bottom: 40px;
}

section.sobre div.sobre-container img {
  border: 2px solid #d97a43;
}

section.sobre div.sobre-container h2 {
  font-size: max(22px, 1.8vw);
  margin-top: 10px;
}

section.viajar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #04b2d9;
  border-bottom: 5px solid #04b2d9;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  background-color: #d97a43;
}

section.viajar h2 {
  margin-top: 40px;
  margin-bottom: 50px;
  max-width: 950px;
  text-align: center;
  color: #fff;
  font-size: max(22px, 2.8vw);
}

section.viajar div.viajar-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 40px;
}

section.viajar div.viajar-container div.viajar-texto {
  max-width: 800px;
  text-align: left;
  line-height: 1.8;
  margin-bottom: 20px;
}

section.viajar div.viajar-container div.viajar-texto p {
  width: 95%;
  margin: auto;
  color: #fff;
  text-shadow: 2px 2px 5px #181717;
  font-size: max(16px, 1vw);
}

section.viajar div.viajar-container div.viajar-img {
  max-width: 450px;
}

section.viajar div.viajar-container div.viajar-img img {
  max-width: 100%;
  border-radius: 8px;
}

section.servicos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

section.servicos h2 {
  margin-top: 40px;
  margin-bottom: 50px;
  max-width: 850px;
  font-size: max(22px, 2.8vw);
  text-align: center;
  color: #d97a43;
}

section.servicos div.servicos-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

section.testemunhos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

section.testemunhos h2 {
  margin-top: 40px;
  margin-bottom: 50px;
  max-width: 70%;
  font-size: max(22px, 2.8vw);
  text-align: center;
  color: #d97a43;
}

section.testemunhos div.testemunhos-container {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.estrela {
  color: gold;
  font-size: 24px;
}

.card-testemunho {
  border: 1px solid #d97a43;
  border-radius: 5px;
  margin: 30px 0;
  padding: 20px;
}

.centered-aos {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #f7f7f7;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div.footer-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

footer div.footer-container div.logo-footer {
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

footer div.footer-container div.logo-footer img {
  max-width: 100%;
}

footer div.footer-container div.footer-info {
  width: 70%;
  margin-bottom: 50px;
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

footer div.footer-container div.footer-info nav.nav-footer ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

footer div.footer-container div.footer-info nav.nav-footer ul li {
  list-style: none;
  margin-bottom: 15px;
}

footer div.footer-container div.footer-info nav.nav-footer ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 110%;
  transition: 0.3s ease-out;
}

footer div.footer-container div.footer-info nav.nav-footer ul li a:hover {
  color: #d97a43;
}

footer div.footer-container div.footer-info div.formasPagamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div.footer-container div.footer-info div.formasPagamento span {
  font-family: "Roboto", sans-serif;
  font-size: max(16px, 1vw);
  margin-bottom: 15px;
}

footer
  div.footer-container
  div.footer-info
  div.formasPagamento
  div.footer-img-formasPagamento {
  max-width: 340px;
}

footer
  div.footer-container
  div.footer-info
  div.formasPagamento
  div.footer-img-formasPagamento
  img {
  max-width: 100%;
}

footer span.autorais {
  font-size: max(14px, 0.8vw);
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
      url("./images/cadeira-praia-p.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 765px) {
  footer div.footer-container div.footer-info {
    width: 95%;
  }

  footer
    div.footer-container
    div.footer-info
    div.formasPagamento
    div.footer-img-formasPagamento {
    max-width: 200px;
  }
}

@media screen and (max-width: 1110px) {
  header nav#nav-esquerda ul.menu-principal li a {
    font-size: 90%;
  }
}

@media screen and (max-width: 970px) {
  header nav#nav-esquerda div#logo {
    margin-left: 1rem;
  }

  header nav#nav-esquerda {
    justify-content: space-between;
  }

  header nav#nav-esquerda ul#icone-menu {
    display: flex;
  }

  header nav#nav-esquerda ul#icone-menu li#menuX {
    display: none;
  }

  header nav#nav-esquerda ul.menu-principal {
    flex-direction: column;
    width: 80%;
    height: 70vh;
    background: linear-gradient(
      rgba(3, 150, 166, 1) 0%,
      rgba(4, 157, 217, 1) 45%,
      rgba(4, 178, 217, 1) 100%
    );
    padding-top: 0.5rem;
    position: absolute;
    top: 7rem;
    right: 0;
    z-index: 999;
    display: none;
  }

  header nav#nav-esquerda ul.menu-principal li {
    margin: 0.5rem;
  }

  header nav#nav-esquerda ul.menu-principal li a {
    font-size: 120%;
  }
}

@media screen and (max-width: 1200px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
      url("./images/cadeira-praia-m.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
